*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: red;
    border-radius: 50px;
    padding: 20px;
}
#container> *{
    margin: 10px;
}
ul{
    width: 50%;
    margin: 0 auto;
    list-style: none;
    background-color: rgba(211, 209, 209,0.5);
    color: black;
   
}
li{
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}
.decoration{
    text-decoration: line-through;
}
